import jenkins.model.*
import hudson.security.*
import org.jenkinsci.plugins.*
import hudson.security.FullControlOnceLoggedInAuthorizationStrategy

String server = "{{ ldap_server }}"
String rootDN = "{{ ldap_root_dn }}"
String userSearchBase = "{{ ldap_user_search_base }}"
String userSearch = "{{ ldap_user_search }}"
String groupSearchBase = "{{ ldap_group_search_base }}"
String managerDN = "{{ ldap_manager_dn }}"
String managerAccess = "{{ ldap_access }}"
boolean inhibitInferRootDN = {{ inhibit_infer_root_dn }}

SecurityRealm ldapRealm = new LDAPSecurityRealm(server, rootDN, userSearchBase, userSearch, groupSearchBase, managerDN, managerAccess, inhibitInferRootDN)
Jenkins.instance.setSecurityRealm(ldapRealm)
Jenkins.instance.setAuthorizationStrategy(new FullControlOnceLoggedInAuthorizationStrategy())
Jenkins.instance.save()
